// Código de Nav acá
nav {
  .flex(column);
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: @nav-bg;
  border: solid 2px @nav-border;
  color: @nav-font;

  ul {
    margin-top: 21px;
    .flex(row);
    gap: 21px;
    font-size: 17px;

    a {
      text-decoration: none;
      font-weight: bold;
      color: @nav-font;
    }
  }
}
@media @phone {
  nav {
    ul {
      font-size: 14px;
      width: 100%;
      gap: 0;
      justify-content: space-around;
    }
  }
}
