body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input {
  font-family: "Quicksand", sans-serif;
}

:root {
  --border-color: #26790d;
  --btn-bkn-danger: #26790d;
  --btn-bkn-danger-hover: #18470a;
  --bkn-transparent: rgba(0, 0, 0, 0.1);
}
